@import "./base.css";

:root {
  --color-primary: #00bfa6;
}

.btn-primary {
  --bs-btn-bg: var(--color-primary);
  --bs-btn-border-color: var(--color-primary);
  --bs-btn-hover-bg: var(--color-primary);
  --bs-btn-hover-border-color: var(--color-primary);
  --bs-btn-active-bg: var(--color-primary);
  --bs-btn-active-border-color: var(--color-primary);
}
.btn-outline-primary {
  --bs-btn-border-color: var(--color-primary);
  --bs-btn-color: var(--color-primary);
  --bs-btn-hover-bg: var(--color-primary);
  --bs-btn-hover-border-color: var(--color-primary);
  --bs-btn-active-bg: var(--color-primary);
  --bs-btn-active-border-color: var(--color-primary);
}
.form-check-input:checked {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.router-link-active {
  color: var(--color-primary) !important;
}
